.box {
  background-color: aquamarine;
  width: 200px;
  height: 200px;
  overflow: auto;
}

.form-login {
  display: flex;
  justify-content: center;
  width: 100%;

  .form-container {
    width: 50%;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;

    input {
      width: 100%;
      padding: 10px 5px;
      border: none;
      border-bottom: 2px solid rgb(47, 187, 129);
      border-radius: 10px;
      background-color: transparent;

      margin: 10px 0 0 0;

      &:focus {
        outline: none;
      }
    }

    p {
      font-size: 8px;
      color: red;
      display: none;
    }

    .error-input {
      display: block;
    }

    label {
      font-weight: bold;
      margin-top: 10px;
    }
  }

  button {
    background-color: rgb(7, 108, 98);
    color: white;
    padding: 8px;
    border-radius: 10px;
    border: none;
    border-bottom: 1px solid rgb(7, 108, 98);
    cursor: pointer;
    transition: 0.6s ease;
    margin-top: 10px;

    &:hover {
      background-color: white;
      color: rgb(7, 108, 98);
      border-bottom: 1px solid rgb(7, 108, 98);
    }
  }
}
