<!-- render array -->
<h2>Formulario</h2>
<form #registerForm="ngForm" (ngSubmit)="handleRegister($event)">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input
      type="text"
      required=""
      name="name"
      id="name"
      [(ngModel)]="register.name"
    />
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input
      type="email"
      required=""
      name="email"
      id="email"
      [(ngModel)]="register.email"
    />
    <p>Mensajes de error</p>
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input
      type="password"
      required=""
      name="password"
      id="password"
      [(ngModel)]="register.password"
    />
    <p>Mensajes de error</p>
  </div>
  <button type="submit" [disabled]="registerForm.invalid">Sign in</button>
</form>
<hr />
<h2>Products</h2>
<div class="products">
  <div
    *ngFor="let product of products"
    class="card"
    [class.noAvailable]="!product.available"
    [ngClass]="{
      animationAvailable: product.available,
      animationNoAvailable: !product.available
    }"
  >
    <img [src]="product.img" [alt]="product.name" />
    <p>Price: {{ product.price }}$</p>
    <p>Name: {{ product.name }}</p>
    <span
      [style.color]="!product.available && 'white'"
      *ngIf="!product.available"
      >No disponible</span
    >
  </div>
</div>
<!-- NgSwitch -->
<!-- <h2>NgSwitch</h2>
<p>{{ name }}</p>
<input required type="text" #nameInput="ngModel" [(ngModel)]="name" />
<div [ngSwitch]="name">
  <p *ngSwitchCase="'Adonis'">Es Adonis</p>
  <p *ngSwitchCase="'Daniel'">Es Daniel</p>
  <p *ngSwitchDefault>No hay nombre esperado</p>
</div> -->

<!-- ngfor -->
<!-- <hr />
<h2>NgFor</h2>
<input type="text" [(ngModel)]="newName" />
<button (click)="addName()">Add name</button>
<p *ngIf="!kimetsus.length">No hay elementos</p>
<p *ngFor="let name of kimetsus; index as i" (click)="deleteName(i)">
  {{ i }}-{{ name }}
</p> -->
<!-- Estructuras de control | Directiva: ngIf-->
<!-- <hr />
<p *ngIf="nameActive; else elseBlock">
  My content is visible. Hello {{ name }}
</p>
<ng-template #elseBlock>
  <p>Name active en: {{ nameActive }}</p>
</ng-template>
<button (click)="showName()">Show name</button> -->

<!-- NgModel -->
<!-- <hr />
<p>NgModel: {{ name }}</p>
<input required type="text" #nameInput="ngModel" [(ngModel)]="name" />
<p>Valid: {{ nameInput.valid }}</p> -->

<!-- Another events -->
<!-- <hr />
<input type="text" (keyup)="handleChange($event)" />
<p>Lyrics: {{ lyrics }}</p>
<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate
    veritatis nam dignissimos beatae illo aspernatur corrupti, iure sunt ut,
    accusamus saepe, aut eligendi culpa illum tempore facere numquam laborum
    autem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint placeat
    deserunt nemo magni aspernatur, perspiciatis, eos nihil doloribus suscipit
    dignissimos maxime unde totam excepturi laudantium iste! Dignissimos ea
    aliquam repudiandae.
  </p>
</div> -->

<!-- Events -->
<!-- <hr />
<button [disabled]="nameActive">{{ name }}</button>
<p [style]="nameActive ? 'display:block;' : 'display:none;'">{{ name }}</p>
<button (click)="plusAge()">Age ++</button> -->

<!-- Props binding -->
<!-- <hr />
<h1>Props binding</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" name="Name" [value]="name" />
<progress max="100" [value]="age"></progress>
<img [src]="image" [alt]="name" [width]="age" />
<input type="button" [value]="person.name" /> -->

<!-- String interpolation -->
<!-- <hr />
<h1>String interpolation</h1>
<p>Hola mundo</p>
<h2>{{ "Hola mundo string ".repeat(4) }}</h2>
<p>3+3= {{ 3 + 3 }}</p>
<p>Hello, I'm {{ name }}, and I'm {{ age }} years old.</p>

<img src="{{ image }}" alt="" width="160" /> -->
